<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name = "demo project" thread-count="5" >
    <classes>
      <class name="DemoProject.Sample.LoginTestCases"/>
      <class name="DemoProject.Sample.HomePageTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
